.card {
    padding-left: 10px;
    text-align: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 75px;
    padding-right: 500px;
    background-color: rgb(74, 185, 133);
}


.container {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

ol,
ul {
    margin: 5px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 1rem;
}

li {
    display: grid;
    grid-gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
}

	
h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 65px;
}

h3 {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 35px;
    padding-bottom: 10px
}
 
p {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 10px;
    padding-left: 50px;
}